body {
    background-color: AliceBlue; 
    }
h1 {
    color: MidnightBlue;
    text-align: center;
    font-family: "monospace", Courier;
    font-size: 100px;
    text-decoration: underline;
    }
p {
    color: MidnightBlue;
    text-align: right;
    font-family: "monospace", Courier;
    font-size: 50px;
    
    }
    
a:link {
    color: navy; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: lavender;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: mystyRose;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: oldlace;
    background-color: transparent;
    text-decoration: underline;
}
 



    
    
    
    

