body {
    background-color:LightPink;
    
    }
h1 {
    color: Black;
    text-align: center;
    font-size: 35px;
    line-height: 1.5;
    vertical-align: middle 
    font-family:"Arial Black", Gadget, sans-serif;
    }
p {
    color: Black;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    vertical-align: middle;
    font-family:"Tahoma, Geneva, sans-serif;
}
    
    }
    
a:link {
    color: oldlace; 
    background-color: transparent; 
    text-decoration: none;
    line-height: 1.5;
    vertical-align: middle 
}

a:visited {
    color: lavender;
    background-color: transparent;
    text-decoration: none;
    line-height: 1.5;
    vertical-align: middle 
}

a:hover {
    color: mistyRose;
    background-color: transparent;
    text-decoration: underline;
    line-height: 1.5;
    vertical-align: middle 
}

a:active {
    color: oldlace;
    background-color: transparent;
    text-decoration: underline;
    line-height: 1.5;
    vertical-align: middle 
}
 



    
    
    
    

