body {
    background-color: #edffdb;
    }
h1 {
    color: Black;
    text-align: center;
    font-size: 70px
   font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    }
h2 {
    color: Black;
    text-align: center;
    font-size: 70px
   font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    }
h3 {
    color: Black;
    text-align: center;
    font-size: 70px
   font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    }
h4 {
    color: Black;
    text-align: center;
    font-size: 70px
   font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    }
h5 {
    color: Black;
    text-align: center;
    font-size: 70px
   font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    }
h6 {
    color: Black;
    text-align: center;
    font-size: 70px
   font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    }

p {
    color: Black;
    text-align: center;
    font-size: 40px;
    font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
}
  ul {
    color: Black;
    text-align: center;
    font-size: 40px;
    font-family:"Arial Black", Gadget, sans-serif;
    text-align: center;
    }
    


a:link {
    color: mistyrose; 
    background-color: transparent; 
    text-decoration: none;
    line-height: 1.5;
   
}

a:visited {
    color: lavender;
    background-color: transparent;
    text-decoration: none;
    line-height: 1.5;
    vertical-align: middle 
}

a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
    line-height: 1.5;
    vertical-align: middle 
}

a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    line-height: 1.5;
    vertical-align: middle 
}
