body {
    background-color: LightSkyBlue;
}

h1 {
    color: black;
    font-size: 35px;
    position: absolute;
}
h2{
  color: black;
    font-size: 35px;
   position: absolute;
 
}
h3 {
    color: black;
    font-size: 35px;
      position: absolute; 
}
h4 {
    color: black;
    font-size: 35px;
      position: absolute;
}
h5 {
    color: black;
    font-size: 35px;
      position: absolute;
}
h6 {
    color: black;
    font-size: 35px;
      position: absolute;
}
h7 {
    color: black;
    font-size: 35px;
      position: absolute;
}
p {
    color: black;
    font-size: 20px;
      position: absolute;
}
