body {
    background-color: lavender; 
    }
h1 {
    color: MidnightBlue;
    text-align: center;
    font-family: "monospace", Courier;
    font-size: 250px;
    }
p {
    color: MidnightBlue;
    text-align: right;
    font-family: "monospace", Courier;
    font-size: 200px;
    text-decoration: underline;
    }
    
a:link {
    color: slateblue; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: navy;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: mystyRose;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: oldlace;
    background-color: transparent;
    text-decoration: underline;
}
 



    
    
    
    

